{% extends "home.html" %} 
{% block styles %}
{{ super() }}
<link rel = "stylesheet" href="{{ url_for('static', filename = 'home.css')}}">
{% endblock %}
{% block content %} 
<h1>{{title}}</h1>
<div class="row g-4">
    <div class="col-sm-12 col-xl-6">
        <div class="bg-light rounded h-100 p-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for auteur in auteurs %}
                    <tr>
                        <th scope="row">{{auteur.id}}</th>
                        <td><a href="{{ url_for('info_auteur', id = auteur.id) }}">{{auteur.name}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}