{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel = "stylesheet" href="{{ url_for('static', filename = 'home.css')}}">
{% endblock %}
{% block content %}

<body>
  {% if dejaUtilise %}
    <script type="text/javascript">
      alert("Ce nom d'utilisateur est déjà utilisé");
    </script>
  {% endif %}
  <h1>Création de Compte</h1>
  <form method="POST"  role="form" action="{{url_for('register')}}">
    <label for="username">Nom d'utilisateur:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Créer un compte"></a>
  </form>
{% endblock %}
